body{
	margin:20px;
}

.header{
	width: 200px;
	height: 50px;
	background-color: green;
	border: 6px solid #000000;
	border-bottom: 6px dotted #000000;
	margin:0px auto;
}

.content{
	background-color: green;
	width: 150px;
	height: 200px;
	margin: 0px auto;
	border: 6px solid #000000;
	border-top: 0px;
}

.wrapper{
	background-image: url('images/bg.jpg');
	width: 800px;
	height: 600px;

}